#### Ignore PROJECT_FILE_GENERATOR




### Sets of project files



Sets/*.txt




### Programming language folder



## Batch/...


# ignore

Batch/*

# keep

!Batch/batch_template.txt




### OUTPUT


# ignore

output/*

# keep

!output/README.md
